* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr 60px / 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

.title {
  color: #f0f8ff;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.header {
  background-color: #8fbc8f;
  grid-area: header;
  display: grid;
  grid-template: 60px auto / auto;
  padding: 0 50px 15px 50px;
}

.nav-container {
  list-style-type: none;
  display: grid;
  grid-template: 45px / repeat(auto-fit, minmax(160px, 1fr));
  justify-items: center;
  grid-row-gap: 10px;
}

.button {
  background-color: #f4f4f4;
  height: 42px;
  width: auto;
  font-size: 20px;
  padding: 10px 18px;
  border: none;
  border-radius: 30px;
}

.main {
  background-color: #4682b4;
  grid-area: main;
  display: grid;
  grid-template: 15vh auto / 1fr;
  align-content: center;
  padding: 5px 50px;
}

.main-container {
  display: grid;
  grid-template: repeat(5, 80px) / repeat(4, 1fr);
  grid-gap: 20px;
}

.div {
  background-color: #3333b6;
  display: grid;
  grid-template: auto / auto;
  justify-items: center;
  align-items: center;
  color: #f0f8ff;
  font-size: 50px;
}

div:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}

div:nth-child(6) {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}

div:nth-child(9) {
  grid-row: 4 / 6;
  grid-column: 3 / 5;
}

.footer {
  background-color: #87ceeb;
  grid-area: footer;
}