* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr 60px / 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

.title {
  color: #f0f8ff;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.header {
  background-color: #8fbc8f;
  grid-area: header;
}

.main {
  background-color: #4682b4;
  grid-area: main;
}

.footer {
  background-color: #87ceeb;
  grid-area: footer;
}