* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr 60px / 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

.title {
  color: #f0f8ff;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.header {
  background-color: #8fbc8f;
  grid-area: header;
  display: grid;
  grid-template: 60px auto / auto;
  padding: 0 50px 15px 50px;
}

.nav-container {
  list-style-type: none;
  display: grid;
  grid-template: 45px / repeat(auto-fit, minmax(160px, 1fr));
  justify-items: center;
  grid-row-gap: 10px;
}

.button {
  background-color: #f4f4f4;
  height: 42px;
  width: auto;
  font-size: 20px;
  padding: 10px 18px;
  border: none;
  border-radius: 30px;
}

.main {
  background-color: #4682b4;
  grid-area: main;
}

.footer {
  background-color: #87ceeb;
  grid-area: footer;
}