* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jeneral-container {
  display: grid;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
}

.header {
  background-color: #8fbc8f;
}

.main {
  background-color: #4682b4;
}

.footer {
  background-color: #87ceeb;
}